#write {
    font-family: $base-Latin-font, $base-Chinese-font, serif;
    font-size: $base-font-size;
    /* A4标准宽度 */
    max-width: 21cm;
    @if $theme == "light" {
        background-color: white;
    } @else if $theme == "dark" {
        background-color: #1e1e1e;
    }
    /* column-count: 2;
    column-gap: 25px;
    column-width: 8cm; 
    display: inline-block; */
    /* 这里可以试分栏的，但确实不适合实现 */

    p {
        text-align: left;
    }

    // 超链接
    @if $theme == "light" {
        a {
            color: $link-color-light;
        }
    } @else if $theme == "dark" {
        a {
            color: $link-color-dark;
        }
    }

    // 标题属性
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @if $os == "windows" {
            font-weight: bold;
        } @else if $os == "macos" {
            font-weight: normal;
        }
        /* 标题字体 */
        font-family: $heading-Latin-font, $heading-Chinese-font, sans-serif;
        page-break-after: avoid !important;
    }

    h1 {
        font-family: $heading-Latin-font, $title-Chinese-font, sans-serif;
        @if $os == "macos" {
            font-weight: normal;
        }
        text-align: center;
        column-span: all;
        font-size: $title-font-size;
    }
    h2 {
        font-family: $heading-Latin-font, $h2-Chinese-font, sans-serif;
        font-size: $h2-font-size;
    }
    h3 {
        font-family: $heading-Latin-font, $h3-Chinese-font, sans-serif;
        font-size: $h3-font-size;
        line-height: $h3-font-size;
    }
    h4 {
        font-family: $heading-Latin-font, $h4-Chinese-font, sans-serif;
        font-size: $h4-font-size;
        line-height: $h4-font-size;
    }
    h5 {
        font-family: $heading-Latin-font, $h5-Chinese-font, sans-serif;
        font-size: $h5-font-size;
        line-height: $h5-font-size;
    }
    h6 {
        font-family: $heading-Latin-font, $h6-Chinese-font, sans-serif;
        font-size: $h6-font-size;
        /* 没有写错，为了避免行距太小才这么写 */
        line-height: $h5-font-size;
    }

    // 三线表
    table {
        /* 三线表第一条线宽度 */
        border-top: 1.2pt solid;
        /* 三线表第二条线宽度 */
        border-bottom: 1.2pt solid;
        font-family: $table-font, $base-Latin-font, $base-Chinese-font, serif;
        /* font-size: $base-font-size; */
        text-align: center;
        page-break-inside: avoid;
        border-spacing: 6px;
        /* 自动布局表格宽度，如果有时内容太紧建议直接加空格吧，我自己看不惯和页面等宽的大表格 */
        width: auto;
        /* 使表格默认居中；虽然这个代码不好，但好像没别的实现办法 */
        margin: 0 auto;

        td {
            padding: 2px;
        }

        tr {
            padding: 2px;
        }
    }

    th {
        padding: 0px 6px;
    }

    thead {
        /* 表格标题（首行）样式 */
        /* 三线表表头的线 */
        border-bottom: 0.5pt solid;
        font-family: $table-title-font, $heading-Latin-font,
            $heading-Chinese-font, serif !important;
        /* font-size: $base-font-size; */
        font-weight: $strong-weight;
    }

    // 代码块样式
    .CodeMirror-wrap {
        padding: 10px; // FIXME 当代码太长跨页的时候好像也会有点问题
    }

    .CodeMirror-code pre {
        font-family: $code-font, $ui-font, monospace;
    }

    // 下面是标题自动编号，初始化计数器。使用多级编号，编号后加空格模仿LaTeX
    // 首先全局进行一次reset，这样即使不添加h1标题也可以使用较低级别的标题
    counter-reset: h2 0 h3 0 h4 0 h5 0 h6 0;
    h1 {
        counter-reset: h2;
    }
    h2 {
        counter-reset: h3;
    }
    h3 {
        counter-reset: h4;
    }
    h4 {
        counter-reset: h5;
    }
    h5 {
        counter-reset: h6;
    }

    h2:before {
        @extend %h2-with-count;
    }

    h3:before {
        @extend %h3-with-count;
    }

    h4:before {
        @extend %h4-with-count;
    }

    h5:before {
        @extend %h5-with-count;
    }

    h6:before {
        @extend %h6-with-count;
    }
}

hr {
    @if $theme == "light" {
        border-top: solid 0.7px #eee;
    } @else if $theme == "dark" {
        border-top: solid 0.7px #888888;
    }
}

img {
    /* 避免图片在导出时被断开 */
    page-break-inside: avoid;
}

strong {
    font-weight: $strong-weight;
}

%h2-with-count {
    counter-increment: h2;
    content: counter(h2);
    margin-right: 2rem;
}

%h3-with-count {
    counter-increment: h3;
    content: counter(h2) "." counter(h3);
    margin-right: 2rem;
}

%h4-with-count {
    counter-increment: h4;
    content: counter(h2) "." counter(h3) "." counter(h4);
    margin-right: 2rem;
}

%h5-with-count {
    counter-increment: h5;
    content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5);
    margin-right: 2rem;
}

%h6-with-count {
    counter-increment: h6;
    content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "."
        counter(h6);
    margin-right: 2rem;
}

// override the default style for focused headings
h3.md-focus.md-heading:before {
    @extend %h3-with-count;
}
h4.md-focus.md-heading:before {
    @extend %h4-with-count;
}
h5.md-focus.md-heading:before {
    @extend %h5-with-count;
}
h6.md-focus.md-heading:before {
    @extend %h6-with-count;
}
